<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

&lt;!&ndash;
Created by IntelliJ IDEA.
User: ARHAM
Date: 9/22/2016
Time: 4:14 PM
&ndash;&gt;

<style style="text/css">
    .errorfont{
        color: red;
        font-size: small;

    }
</style>

<div class="section">
    <div class="container" ng-controller="AdvertiserController as adctrl" >
        <div class="row">
            <div class="col-md-6" style="text-align: left"><br/>
                <div class="panel panel-default" >
                    <div class="panel-heading" style="height: 50px"><h4>Extend Time Of Advertisements</h4></div>
                    <div class="panel-body contact-form-box">
                        <form role="form" name="advertiseForm" class="ng-pristine ng-invalid ng-invalid-required" enctype="multipart/form-data">

                            <div class="form-group">
                                <label class="control-label" >URL of Advertise :</label>
                                <input class="form-control" name="aurl" type="text" ng-model="adctrl.advertise.url" required class="glyphicon glyphicon-ok">
                                <div ng-show="advertiseForm.aurl.$touched && advertiseForm.aurl.$invalid" class="col-md-12 col-sm-12 col-xs-12 ">
                                    <span ng-show="advertiseForm.aurl.$error.required">
                                    <a class="errorfont">URL field is required</a> <br/>
                                    </span>
                                    <a class="errorfont">Invalid URL address </a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" >Time Period for Avdertisement :</label>
                                <select class="form-control" ng-model="adctrl.advertise.time">
                                    <option>For 2 Weeks</option>
                                    <option>For 1 Month</option>
                                    <option>For 3 Month</option>
                                    <option>For 6 Month</option>
                                    <option>For 1 Year</option>
                                </select>
                            </div>

                            <input type="submit" class="btn btn-success" value="Upload to Administrator" />
                            <button type="button" ng-click="adctrl.reset()"  class="btn btn-warning" >Reset Form</button>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="/static/js/lib/angular-1.4.4.js"></script>
<script type="text/javascript" src="/static/js/lib/angular-route.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript" src="/static/js/controller/advertiser_controller.js"></script>
<script type="text/javascript" src="/static/js/service/advertiser_service.js"></script>



</body>
</html>-->


<div class="modal-header">
    <h3 class="modal-title"><b>Extend Time Of Advertisements</b></h3>
</div>
<div ng-controller="AdvertiserController as adctrl">
<div class="modal-body" >
    <div >
        <img src="/static/js/template/advertiser-template/advertises/gel.jpg" style="height: 330px; width: 410px; align-content: right " class="img-rounded" />
    </div>
    <span><b>Passed Parameter after click:</b></span>{{title1}}
    <div>
        <label class="control-label" >URL of Advertise :</label>
        <input class="form-control" name="url2" type="text" ng-model="adctrl.url2" required />
    </div>

    <div class="form-group">
        <label class="control-label" >Time Period for Avdertisement :</label>
        <select class="form-control" ng-model="adctrl.extendTime">
            <option>For 2 Weeks</option>
            <option>For 1 Month</option>
            <option>For 3 Month</option>
            <option>For 6 Month</option>
            <option>For 1 Year</option>
        </select>
    </div>

</div>
<div class="modal-footer">


    <button class="btn btn-warning" type="button"  ng-click="close()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="adctrl.updateAdvertise(advertiseId, adctrl.advertises)">Update Changes</button>
</div>
</div>