<div id="adModal">
    <div class="modal-header">
        <h3 class="modal-title">Edit Row</h3>
    </div>
    <div class="modal-body">

        <form name="serviceForm">
            <div class="block">
                <label>Id</label>
                <input class="input" type="text" disabled value="{{vm.entity.id}}" />
            </div>
            <div class="block">
                <label>Title</label>
                <input class="input" type="text" ng-model="vm.entity.title"/>
            </div>
            <div class="block">
                <label>Description</label>
                <input class="input" type="text" ng-model="vm.entity.description"/>
            </div>
            <div class="block">
                <label>Status</label>
                <input class="input" type="text" ng-model="vm.entity.status"/>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.update($event)">Approve</button>
        <button class="btn btn-primary" ng-click="$close()">Cancel</button>
    </div>
</div>



<!--<div class="block">-->
    <!--<label>exposedws</label>-->
    <!--<input class="input" type="text" ng-model="vm.entity.description"/>-->
<!--</div>-->