<div class="col-sm-8">

    <!-- block content -->
    <div class="block-content">

        <!-- grid box -->
        <div class="grid-box">

            <div class="title-section">
                <h1><span>Today's Featured</span></h1>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="news-post image-post2">
                        <div class="post-gallery">
                            <img src="/static/upload/news-posts/im5.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <a class="category-post tech" href="tech.html">Tech</a>
                                    <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                        <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                        <li><i class="fa fa-eye"></i>872</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <ul class="list-posts">
                        <li>
                            <img src="/static/upload/news-posts/list1.jpg" alt="">
                            <div class="post-content">
                                <a href="travel.html">travel</a>
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="/static/upload/news-posts/list2.jpg" alt="">
                            <div class="post-content">
                                <a href="food.html">Food &amp; Health</a>
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="/static/upload/news-posts/list3.jpg" alt="">
                            <div class="post-content">
                                <a href="business.html">business</a>
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="news-post image-post2">
                        <div class="post-gallery">
                            <img src="/static/upload/news-posts/im6.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <a class="category-post travel" href="travel.html">travel</a>
                                    <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                        <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                        <li><i class="fa fa-eye"></i>872</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <ul class="list-posts">
                        <li>
                            <img src="/static/upload/news-posts/list4.jpg" alt="">
                            <div class="post-content">
                                <a href="travel.html">travel</a>
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="/static/upload/news-posts/list5.jpg" alt="">
                            <div class="post-content">
                                <a href="food.html">Food &amp; Health</a>
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="/static/upload/news-posts/list6.jpg" alt="">
                            <div class="post-content">
                                <a href="business.html">business</a>
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="center-button">
                <a href="#"><i class="fa fa-refresh"></i> More from featured</a>
            </div>

        </div>
        <!-- End grid box -->

        <!-- google addsense -->
        <div class="advertisement">
            <div class="desktop-advert">
                <span>Advertisement</span>
                <img src="/static/upload/addsense/728x90-white.jpg" alt="">
            </div>
            <div class="tablet-advert">
                <span>Advertisement</span>
                <img src="/static/upload/addsense/468x60-white.jpg" alt="">
            </div>
            <div class="mobile-advert">
                <span>Advertisement</span>
                <img src="/static/upload/addsense/300x250.jpg" alt="">
            </div>
        </div>
        <!-- End google addsense -->

        <!-- grid-box -->
        <div class="grid-box">

            <div class="title-section">
                <h1><span class="world">News in Video</span></h1>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="news-post video-post">
                        <img alt="" src="/static/upload/news-posts/video1.jpg">
                        <a href="https://www.youtube.com/watch?v=LL59es7iy8Q" class="video-link"><i class="fa fa-play-circle-o"></i></a>
                        <div class="hover-box">
                            <h2><a href="single-post.html">Donec odio. Quisque volutpat mattis eros.</a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news-post video-post">
                        <img alt="" src="/static/upload/news-posts/video2.jpg">
                        <a href="https://www.youtube.com/watch?v=LL59es7iy8Q" class="video-link"><i class="fa fa-play-circle-o"></i></a>
                        <div class="hover-box">
                            <h2><a href="single-post.html">Nullam malesuada erat ut turpis. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news-post video-post">
                        <img alt="" src="/static/upload/news-posts/video3.jpg">
                        <a href="https://www.youtube.com/watch?v=LL59es7iy8Q" class="video-link"><i class="fa fa-play-circle-o"></i></a>
                        <div class="hover-box">
                            <h2><a href="single-post.html">Suspendisse urna.</a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="news-post video-post">
                        <img alt="" src="/static/upload/news-posts/video4.jpg">
                        <a href="https://www.youtube.com/watch?v=LL59es7iy8Q" class="video-link"><i class="fa fa-play-circle-o"></i></a>
                        <div class="hover-box">
                            <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news-post video-post">
                        <img alt="" src="/static/upload/news-posts/video1.jpg">
                        <a href="https://www.youtube.com/watch?v=LL59es7iy8Q" class="video-link"><i class="fa fa-play-circle-o"></i></a>
                        <div class="hover-box">
                            <h2><a href="single-post.html">Aliquam porttitor mauris sit amet orci. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news-post video-post">
                        <img alt="" src="/static/upload/news-posts/video2.jpg">
                        <a href="https://www.youtube.com/watch?v=LL59es7iy8Q" class="video-link"><i class="fa fa-play-circle-o"></i></a>
                        <div class="hover-box">
                            <h2><a href="single-post.html">Morbi in sem quis dui placerat ornare.</a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End grid-box -->

        <!-- carousel box -->
        <!--<owl-carousel owl-options="owlOptions">
        <div class="carousel-box owl-wrapper">

            <div class="title-section">
                <h1><span class="world">Lifestyle</span></h1>
            </div>

            <div  data-num="2">

                <div owl-carousel-item class="item">
                    <div class="news-post image-post2">
                        <div class="post-gallery">
                            <img src="/static/upload/news-posts/im1.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                        <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                        <li><i class="fa fa-eye"></i>872</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-posts">
                        <li>
                            <img src="/static/upload/news-posts/list1.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="/static/upload/news-posts/list2.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="/static/upload/news-posts/list3.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div owl-carousel-item class="item">
                    <div class="news-post image-post2">
                        <div class="post-gallery">
                            <img src="/static/upload/news-posts/im2.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                        <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                        <li><i class="fa fa-eye"></i>872</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-posts">
                        <li>
                            <img src="/static/upload/news-posts/list4.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="/static/upload/news-posts/list5.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="/static/upload/news-posts/list6.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div owl-carousel-item class="item">
                    <div class="news-post image-post2">
                        <div class="post-gallery">
                            <img src="/static/upload/news-posts/im3.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                        <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                        <li><i class="fa fa-eye"></i>872</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-posts">
                        <li>
                            <img src="/static/upload/news-posts/list7.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="/static/upload/news-posts/list8.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <img src="/static/upload/news-posts/list9.jpg" alt="">
                            <div class="post-content">
                                <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        </owl-carousel>-->
        <!-- End carousel box -->

        <!-- google addsense -->
        <div class="advertisement">
            <div class="desktop-advert">
                <span>Advertisement</span>
                <img src="/static/upload/addsense/728x90-white.jpg" alt="">
            </div>
            <div class="tablet-advert">
                <span>Advertisement</span>
                <img src="/static/upload/addsense/468x60-white.jpg" alt="">
            </div>
            <div class="mobile-advert">
                <span>Advertisement</span>
                <img src="/static/upload/addsense/300x250.jpg" alt="">
            </div>
        </div>
        <!-- End google addsense -->


        <!-- article box -->
        <div class="article-box">

            <div class="title-section">
                <h1><span>Latest Articles</span></h1>
            </div>

            <!--<div class="news-post article-post" &lt;!&ndash;ng-repeat="articleByDate in userCtrl.wholeArticles"&ndash;&gt;-->
            <div class="news-post article-post"
                 ng-repeat="articleByDate in filtered = items | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="post-gallery">
                            <img alt="" src="{{articleByDate.coverImagePath}}">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="post-content">
                            <h2><a href="single-post.html">{{articleByDate.title}}</a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>{{articleByDate.publishedDate}}</li>
                                <li><i class="fa fa-user"></i>by <a href="#">{{articleByDate.writerName}}</a></li>
                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                <li><i class="fa fa-eye"></i>872</li>
                            </ul>

                            <div>
                                <average-star-rating ng-model="articleByDate.overallRating" max="5" ><average-star-rating>
                            </div>
                            <!-- <div ng-bind-html="articleByDate.description"></div>-->
                            <!--<p>{{ articleByDate.description | limitTo: 100 }}</p>-->
                            <br/><br/>
                            <a ng-href="/#/readarticles/{{articleByDate.id}}"  class="read-more-button" ><i class="fa fa-arrow-circle-right"></i>Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End article box -->

        <div class="pagination-box">
            <pagination class="pagination-list" page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>
        </div>
        <!-- End Pagination box -->

    </div>
    <!-- End block content -->

    <!--<div  class="container">
        <h1>Angular Star Rating Directive</h1>
        Average Rating: {{ averageRating }}
        <div class="average">
            <average-star-rating ng-model="averageRating" max="5"><average-star-rating>
        </div>
        User 1 rating <star-rating ng-model="user1" ></star-rating><br/>
        User 2 rating <star-rating ng-model="user2" ></star-rating><br/>
        User 3 rating <star-rating ng-model="user3" ></star-rating><br/>

        <div><strong>Rating 1:</strong> {{user1.rating}}</div>
        <div><strong>Rating 2:</strong> {{user2.rating}}</div>
        <div><strong>Rating 2:</strong> {{user3.rating}}</div>
    </div>-->

</div>





