<div class="col-lg-12">
    <section class="box nobox">
        <div class="content-body">    <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <h1 class="page_error_code text-primary">404</h1>
                <h1 class="page_error_info">Oops! Page Not Found</h1>

                <div class="col-md-6 col-sm-6 col-xs-8 col-md-offset-3 col-sm-offset-3 col-xs-offset-2">
                    <form action="javascript:;" method="post" class="page_error_search">
                        <div class="text-center page_error_btn">
                            <a class="btn btn-primary btn-lg" href='#'><i class='fa fa-location-arrow'></i> &nbsp; Back to Home</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        </div>
    </section>
</div>